language: php

php:
  - 5.5
  - 5.6
  - 7.0

dist: trusty
sudo: required

before_script:
  - composer self-update
  - composer install

script:
  - mkdir -p build/logs
  - phpunit

after_script: php vendor/bin/coveralls
